body {
	font-family: sans-serif;
}

#header {
/*  background: #45484d;
  background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );*/
  background: #EDEDED;
  background: -moz-linear-gradient(top, #EDEDED 0%, #999C9E 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EDEDED), color-stop(100%,#999C9E));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EDEDED', endColorstr='#999C9E',GradientType=0 );
  position: absolute;
  top:0;
  height: 44px;
  right: 0;
  left: 0;
  border-bottom: 1px solid #4E4F50;
}

#player {
  margin: 10px 0px 10px 10px;
  width: 280px;
  height: 25px;
}

#browser, #playlist {
	padding: 5px 0 3px 0;
	overflow: auto;
}

#browser a, #playlist a { 
	display: block; 
	cursor: pointer; 
	padding: 2px 14px;
	overflow: hidden;
	margin-bottom: 2px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#browser {
  background: #DADEE7;
  position: absolute;
  top: 45px;
  left: 0;
  bottom: 41px;
  width: 300px;
  border-right: 1px solid #BBBBBB;
}

#browser a.dir { 
  color: #62717F;
  font-style: normal;
  font-weight: 400;
  text-shadow: #F5F7F9 0 1px 0;
  line-height: 1.0;
}
#browser a.file {
  color: #1A191A;
  font-style: normal;
  font-weight: 400;
  text-shadow: #F5F7F9 0 1px 0;
  line-height: 1.0;
}

#browser a:hover { 
  background: #a7cfdf;
  background: -moz-linear-gradient(top, #a7cfdf 0%, #23538a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7cfdf), color-stop(100%,#23538a));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 );
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  text-shadow: #45576A 0 1px 0;
  line-height: 1.0;
}

#playlist {
  background: #FFFFFF;
  position: absolute;
  top: 45px;
  left: 301px;
  bottom: 41px;
  right: 0;
}
#playlist a.even { background: #F6F7F9; }
#playlist a.playing, #playlist a:hover { background: #4A97DF; color: white; }


#controls { 
/*  background: #45484d;
  background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );*/
  background: #CACBCB;
  background: -moz-linear-gradient(top, #CACBCB 0%, #919293 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CACBCB), color-stop(100%,#919293));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CACBCB', endColorstr='#919293',GradientType=0 );
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  padding-top: 10px;
  padding-right: 5px;
  padding-left: 5px;
  border-top: 1px solid #727579;
}
#controls a {
  background: #F5F6F6;
  background: -moz-linear-gradient(top, #F5F6F6 0%, #C2C3C3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F5F6F6), color-stop(100%,#C2C3C3));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F5F6F6', endColorstr='#C2C3C3',GradientType=0 );
  border: 1px solid #5E5E5E;
  margin-top: -4px;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  width: 80px;
  display: block;
  float: left;
  text-align: center;
  margin-right: 6px;
}

/**
  The Custom Audio Player...
**/

.player {
	margin: 0;
	padding: 0;
	font-size: 1em;
	border: 0;
	outline: none;
	list-style: none;
	text-decoration: none;
	display: block;
	height: 43px;
	/*width: 301px;*/
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	-webkit-box-shadow: 0 -1px 0 rgba(20, 30, 40, .75);
	-moz-box-shadow: 0 -1px 0 rgba(20, 30, 40, .75);
	-o-box-shadow: 0 -1px 0 rgba(20, 30, 40, .75);
	box-shadow: 0 -1px 0 rgba(20, 30, 40, .75);
	border-top: 1px solid #C2CBD4;
	background: #939EAA;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(174, 185, 196, .9)), to(rgba(110, 124, 140, .9)), color-stop(.5, rgba(152, 164, 176, .9)),color-stop(.501, rgba(132, 145, 159, .9)));
	background: -moz-linear-gradient(top, rgba(174, 185, 196, .9), rgba(152, 164, 176, .9) 50%, rgba(132, 145, 159, .9) 50.1%, rgba(110, 124, 140, .9));
	background: linear-gradient(top, rgba(174, 185, 196, .9), rgba(152, 164, 176, .9) 50%, rgba(132, 145, 159, .9) 50.1%, rgba(110, 124, 140, .9));
	cursor: default;
}

#playtoggle {
	position: absolute;
	top: 9px;
	left: 10px;
	width: 30px;
	height: 30px;
	background: url(controls.png) no-repeat -30px 0;
	cursor: pointer;
}

#playtoggle.playing {
	background-position: 0 0;
}

#playtoggle:active {
	top: 10px;
}

#gutter {
	position: absolute;
	top: 19px;
	left: 50px;
	right: 50px;
	height: 6px;
	padding: 2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	background: #546374;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#242F3B), to(#516070));
	background: -moz-linear-gradient(top, #242F3B, #516070);
	background: linear-gradient(top, #242F3B, #516070);
	-webkit-box-shadow: 0 1px 4px rgba(20, 30, 40, .75) inset, 0 1px 0 rgba(176, 187, 198, .5);
	-moz-box-shadow: 0 1px 4px rgba(20, 30, 40, .75) inset, 0 1px 0 rgba(176, 187, 198, .5);
	-o-box-shadow: 0 1px 4px rgba(20, 30, 40, .75) inset, 0 1px 0 rgba(176, 187, 198, .5);
	box-shadow: 0 1px 4px rgba(20, 30, 40, .75) inset, 0 1px 0 rgba(176, 187, 198, .5);
}

#handle {
	position: absolute;
	top: -5px;
	left: 0;
	width: 20px;
	height: 20px;
	margin-left: -10px;
	background: url(controls.png) no-repeat -65px -5px;
	cursor: pointer;
}

#timeleft {
	line-height: 48px;
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: white;
	text-shadow: 0 1px 0 #546374;
}